*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    background-image: url("bg.png");
    /* doubt */
    background-size: cover;
   
    /* background-attachment:scroll; */
     /*..in cover tries to cover the whole backgrounnd even may cut some parts of img to it.
    ..in contain gives original size in remainging part can repeat the ssame img*/
    
    /* background-size: auto */
    height: 91.5vh;
    
}
header nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 51);

}
ol{
    position: relative;
    right: 250;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
a{
    text-decoration: none;
    color: orangered;
}
.logo{
    color: orangered;
}
button{
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;

}
nav button{
    color: orange;
    background-color: orangered;
}
main button{
    background-color: rgb(241, 47, 111);
    color: white;
    padding: 10;
    border-radius: 10px;

}
main button:hover{
    text-decoration: underline;
    background-color:white ;
   color: rgb(241, 47, 111);;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
   left: 24px;
    color: white;
}
div h1{
   font-size: 70px;
   font-weight: 800;
}
main p{
    position: relative;
    left: 140px;
}
main{
    gap: 20px;
}